.main{
    margin: 10px auto;
    background-color: aqua;
    width: 650px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(75, 71, 71);
}

.head{
    text-align: center;
    border: 2px solid rgb(110, 91, 91);
    color: brown;
}

.inputsdiv{
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.sectiongetTime{
    display: flex;
    margin-block: 40px;
}

input{
    height: 40px;
    width: 190px;
    border-radius: 10px;
}

button{
    margin-top: 25px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(85, 224, 103);
    font-size: 15px;
    color: beige;
    cursor: pointer;
}

.doctors{
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
